<div class="home-page">
  <button ng-click="enableSiteLoader()" data-ut="site-loader">enable site loader</button><br />
  <button ng-click="enableSiteLoaderCustom()" data-ut="site-loader-custom">enable site loader custom</button><br />
  <button ng-click="enableNonBlockingLoader()" data-ut="enable-non-blocking-site-loader">enable non-blocking site loader</button><br />
  <button ng-click="disableNonBlockingLoader()" data-ut="disable-non-blocking-site-loader">disable non-blocking site loader</button>
</div>
